header {
  width: 100%;
  padding: 28px 8%;
  position: sticky;
  top: 0;
  background-color: var(--color-primary-1);
  z-index: 3;
  transition: all 0.3s ease;
}

#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav_logo {
  font-size: 24px;
  color: var(--color-primary-6);
  font-weight: 700;
}

#nav_list {
  display: flex;
  list-style: none;
  gap: 40px;
  transition: all 0.3s ease;
}

.nav-item a {
  text-decoration: none;
  color: #1d1d1dad;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
}

.nav-item a:hover {
  color: var(--color-primary-3);
  transform: translateY(-2px);
}

.nav-item.active a {
  color: var(--color-neutral-9);
  border-bottom: 3px solid var(--color-primary-3);
}

#mobile_btn {
  display: none;
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#mobile_btn:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1170px) {
    #navbar .btn-default {
    display: none;
  }

  #mobile_btn {
    display: block;
  }

  #nav_list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-primary-1);
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 16px 0;
    display: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  #nav_list.active {
    display: flex;
  }

  .nav-item a {
    padding: 10px 0;
  }
}