@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary-1: #f4effa;
    --color-primary-2: #d7c1ff;
    --color-primary-3: #6C4AB6;
    --color-primary-4: #9D7DE2;
    --color-primary-5: #F2C94C;
    --color-primary-6: #B88BFF;
    --color-neutral-0: #ffffff;
    --color-neutral-9: #1A1A1A;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary-1);
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-5);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    color: var(--color-neutral-9);
}

.btn-default:hover {
    background-color: var(--color-primary-4);
    transform: translateY(-2px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.social_media-buttons {
    display: flex;
    gap: 18px;
}

.social_media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: var(--color-neutral-0); /* Fundo branco mantém */
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-primary-3); /* Ícone roxo forte! */
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Mudei para 'all' */
}

.social_media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    color: var(--color-primary-6); /* Roxo mais claro no hover */
}

.section-title {
    color: var(--color-primary-6);
    font-size: 1.563rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-subtitle {
    font-size: 2.1875rem;
    font-weight: 700;
}